.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: absolute;
  top: 0;
  z-index: -999;
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);  color: white;
  color: white;
}


.login-header {
  font-size: 75px;
  margin-bottom: 20px;
}

.google-login {
  margin-left: -150px;
}

.nav-wave {
  z-index: -9999;
}

.login-btn {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  font-size: 20px;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-btn:hover {
  background-color: rgb(249,250,251);
}

.login-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.login-btn:focus-visible {
  box-shadow: none;
}

//POPUP SECTION

.popup-box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: fixed;
  border: 2px solid black;
  border-radius: 15px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);  color: white;
  color: white;
  box-shadow: 0 0 10px 1px black;
}

.popup-form {
  display: flex;
  flex-direction: column;
  padding: 15px;

  label {
    margin-bottom: 5px;
    font-size: 20px;
  }

  input {
    padding: 6px 12px;
    background: white;
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 20px;
    margin: 10px;
    color: black;
    appearance: none;
    transition: border 0.15s ease 0s;
    :focus {
      outline: none;
      box-shadow: none;
      border-color: rgb(100, 153, 255);
    }
  }
  button {
    margin-top: 15px;
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    font-size: 20px;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
}