h1 {
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    font-size: 32px; /* Adjust the font size */
    color: rgb(254, 254, 254); /* Change the text color */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Add margin above and below */
    /* Add any other styles you want */
}

p {
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    color: rgb(252, 251, 252);
}

#name, #page {
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    color: rgb(192, 131, 192);
}

.summary {
    width: 90%; /* Set width to 80% of the parent container */
    max-width: 700px; /* Optional: Set a maximum width */
    max-height: 630px;
    text-align: center; /* Center text inside the div */
    margin: 0 auto; /* Center the div horizontally if width is less than 100% */
    
}