/* page.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: hsla(252.44,71.93%,77.65%,1);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: hsla(309.47,52.29%,21.37%,1);
}

.link:hover {
  text-decoration: underline;
}

/* Center the content in the middle of the page */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: hsla(252.44,71.93%,77.65%,1); /* Optional background */
}

.main h2 {
  padding: 20px; /* Adjust this value as needed */
  font-size: 24px; /* Optional: Adjust the font size if needed */
}


.form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: hsla(252.44,71.93%,77.65%,1);
  box-shadow: 0 0 10px rgb(144, 99, 137);
  border-radius: 8px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: hsla(309.47,52.29%,21.37%,1);
  color: #fff;
  border: hsla(309.47,52.29%,21.37%,1);
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(60, 19, 54);
}
